{% extends "base.html" %}

{% block title_css %}
    <title>Акции и скидки</title>
    <link rel="stylesheet" href="/static/css/discounts.css">
{% endblock title_css %}

{% block main_content %}

    <div class="tiles-container">
        {% for discount in discounts %}
        <a class="tile" href="/discounts/{{ discount.id }}" style="text-decoration: none;">
            <div class="partner-image" style="background-image: url('/static/images/{{ discount.image }}')"></div>
            <h3>{{ discount.name }}</h3>
            <p>{{ discount.short_description }}</p>
        </a>
        {% endfor %}
    </div>
{% endblock main_content %}